@import url(fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

 .body {
   width: 100vw;
  }

.wrapper{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.HeaderBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    border-bottom:  1px solid #BABBC5;
}

.logo{
    margin: 38px 0  35px;
 
}

#logo_SVG{
    height: 35px;
}

#logo_SVG:hover{
    stroke:rgb(255, 255, 255, 0.7);
}  

.HeaderMenu{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.NavMenu{
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.NavMenu_item{
   /* border: 1px solid white;*/
    position: relative;
    padding: 30px 0;
    width: 134px;
    align-items: center;   
    text-align: center;
}
.NavMenu_item a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.NavMenu_item a:active{
    color: #E71414;
}
.NavMenu_item:hover::before{
    position: absolute;
 	content: "";
    top:93px;
	height: 3px;
    width: 100%;
    transform:translateX(-25%);
	background: #BABBC5;
}

.NavMenu_item:active::before{
    position: absolute;
 	content: "";
    top:93px;
	height: 3px;
    width: 100%;
    transform:translateX(-25%);
 
	background: #E71414;
}


.main{
 margin: 134px 0 0 0;
}

.main::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background-image: url(../assets/img/img_bg.png); 
     
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 747px;
    z-index: -3;
}
.main::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background: #252B49;
    mix-blend-mode: normal;
    opacity: 0.8;
    z-index: -2;
    width: 100%;
    height: 747px;
    ;
}

.main_title{

}
.main_title h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main_text{
    margin-top: 33px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.main_button{
    margin-top:82px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_button button{
    margin-bottom: 120px;
    width: 369px;
    height: 77px;
    background: #FF4343;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main_button button:hover{
    background: #E71414;
}

.main_button button:active{
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
}

.box_menu{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.box_meny_item{
    margin-top:100px ;
    width: 370px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.box_meny_item_image{
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
}

.box_meny_item_title h3{
    margin-bottom: 54px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
    
}

.box_meny_item_text{
    margin: 0 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #6C7279;
}

.box_menu_people{
    margin-top: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box_menu_people_item{
    width: 270px;
    display: flex;
    flex-direction: column;

}
.box_menu_people_item_photo{
   width: 270px;
}
.box_menu_people_item_FIO h3{
    margin-top: 35px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2D3033;
}
.box_menu_people_item_text{
    margin-top: 29px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #6C7279;
}
.box_menu_people_item_job{
    margin-top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FF4343;
}
.box_menu_people_item_icon{
   margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.box_menu_people_item_icon_it{
    margin: 3px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 39px;
    border: 1px solid #C6CBCD;
}
.box_menu_people_item_icon_it img{
   /* sizes: 18px;*/
    height: 18px;
    
}


.box_project_wrapper{
    margin: 50px auto;
    margin-top: 130px;
    width: 1610px;
}

.box_project{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.box_project_item_image{
    display:flex;
    position: relative;
    width: 378px;
    height: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box_project_item_image div{
    display:none;
}

.work_1{
    background: url(../assets/img/work_1.png);
    background-position: center;
}
 
.work_2{
    background: url(../assets/img/work_2.png);
    background-position: center;
}
.work_3{
    background: url(../assets/img/work_2.png);
    background-position: center;
}
.work_4{
    background: url(../assets/img/work_3.png);
    background-position: center;
}
.work_5{
    background: url(../assets/img/work_5.png);
    background-position: center;
}
.work_6{
    background: url(../assets/img/work_6.png);
    background-position: center;
}
.work_7{
    background: url(../assets/img/work_7.png);
    background-position: center;
}
.work_8{
    background: url(../assets/img/work_8.png);
    background-position: center;
}
.box_project_item_image:hover::before{
    content: "";
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 378px;
    height: 340px;
    background: rgba(255, 67, 67, 0.8);
    border: 2px solid #FFFFFF;
    justify-content: center;
    align-items: center;
}
 
.box_project_item_image:hover div{
    display:flex;
    z-index: 3;

}

.box_project_item_image:active::before{
    content: "";
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 378px;
    height: 340px;
    background: rgba(185, 12, 12, 0.8);
    border: 2px solid #FFFFFF;
    justify-content: center;
    align-items: center;
}
 
.box_project_item_image:active div{
    display:flex;
    z-index: 3;

}


.box_project_item_ative_title{
    margin: 20px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.box_project_item_ative_text{
    margin: 20px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}




.wrapper_banner{
    margin: 50px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.banner_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.baner_box_item{
    display: flex;
    width: 741 px;
    background-color: #5C3249;
    flex-direction: column;
  
}
.baner_box_item_title{
    margin: 116px 170px 10px 129px;
    width: 471px;
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.baner_box_item_auther{
    margin: 0 170px 0 129px;
    width: 471px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner_box_select{
    margin-top: 31px;
    width: 170px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner_box_select svg:hover{
    fill:#7E5D6F;
}





.box_toStart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box_toStart_title{
    margin-bottom: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.box_toStart_text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
}
.main_button{
    margin-top: 54px;
}


footer{
       background-color: #353C65;
}

.wrapper_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.wrapper_footer_menu{
    width: 370px;
}

.wrapper_footer_menu_title{
    margin-top: 71px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.wrapper_footer_menu_text{
    display: flex;
    margin-top: 28px;
    margin-bottom: 67px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
     text-transform: capitalize;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}


.wrapper_footer_menu_icon{
    width: 170px;
      display: flex;
     flex-direction: row;
     justify-content:space-around;
 }
 .wrapper_footer_menu_icon_it{
    display: flex;
    align-items: center;
    justify-content: center;
     margin: 3px;
     height: 39px;
     width: 39px;
     border: 1px solid #C6CBCD;
 }
 .wrapper_footer_menu_icon_it img{
    /* sizes: 18px;*/
     height: 18px;
     
 }

 
.wrapper_footer_menu_icon_it{
    margin: ;
}

.baner_box_item{
    wrapper_footer_menu_text
}
.wrapper_Copyright{
    padding-top: 23px;
    
    background-color: #2C3154;
}

.wrapper_Copyright p{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
     text-transform: capitalize;
    color: #808080;
}
.wrapper_Copyright span{
    color: #FFFFFF;
}

@media (max-width: 320px){

.wrapper{
    max-width: 280px;
}


}