*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .tablemain{
      width: 90%;
      border-collapse: collapse;
      margin: auto;
  }

  .tablemain td {
      border: 1px solid black;
  }

  .tablemain th {
    text-align: center;
  }


  .tablemain_center{
    text-align: center;
  }