*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main{
      border-radius: 8px;
      width: 500px;
      margin: 10px auto;
      background-color: peru;
  }

  .main__text li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    list-style: none;
    border-bottom: 2px solid white;
    color: white;
    padding: 10px;

  }

  .main__text__li__first{
    border-radius: 8px 8px 0 0;
}
  
.main__text__li__end{
  border-radius: 0 0 8px 8px;
}